@font-face {
    font-family: 'Blinker';
    src: url('./assets/font/Blinker-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blinker';
    src: url('./assets/font/Blinker-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blinker';
    src: url('./assets/font/Blinker-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blinker';
    src: url('./assets/font/Blinker-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blinker';
    src: url('./assets/font/Blinker-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blinker';
    src: url('./assets/font/Blinker-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blinker';
    src: url('./assets/font/Blinker-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root {
    --team: rgb(79, 197, 222);
    --all: #ffffff;
    --enemy: rgb(245, 119, 49);
    --squad: rgb(157, 251, 0);
    --admin: #ff73fa;
    --leader: #44ddbf;
    --spectator: #9b84ee;
    --player: #faa61a;
    --team-gradient: linear-gradient(90deg, rgba(33,158,188,0.2) 0%, rgba(0,0,0,0) 100%);
    --all-gradient: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
    --enemy-gradient: linear-gradient(90deg, rgba(245,119,49,0.2) 0%, rgba(0,0,0,0) 100%);
    --squad-gradient: linear-gradient(90deg, rgba(157,251,0,0.2) 0%, rgba(0,0,0,0) 100%);
    --admin-gradient: linear-gradient(90deg, rgba(255,115,250,0.2) 0%, rgba(0,0,0,0) 100%);
    --leader-gradient: linear-gradient(90deg, rgba(68,221,191,0.2) 0%, rgba(0,0,0,0) 100%);
    --spectator-gradient: linear-gradient(90deg, rgba(155,132,238,0.2) 0%, rgba(0,0,0,0) 100%);
    --player-gradient: linear-gradient(90deg, rgba(250,166,26,0.2) 0%, rgba(0,0,0,0) 100%);
}

::-webkit-scrollbar {
    width: .2vw;
    transition: width .25s ease;
}

*:hover::-webkit-scrollbar {
    width: .6vw;
    transition: width .25s ease;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 1);
}

::-webkit-scrollbar-thumb:hover {
    background: #cecece; 
}

html,
body {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: "Blinker";
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

#debug {
    display: none !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
}

#VuChat {
    color: #fff;
    position: absolute;
    left: 3vw;
    top: 6vh;
    width: 25.2vw;
    height: 23.15vh;
    // background: rgba(0, 173, 255, 0.2);
    // border-radius: 2px;
    padding: .15vh 0;

    .chatWindow {
        overflow-x: hidden;
        overflow-y: hidden;
        width: 25vw;
        height: 22.85vh;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 25vw;
            height: 22.85vh;
            background: rgba(0, 173, 255, 0.2);
            filter: blur(7px);
        }

        .chatWindowInner {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 0;
            
        }
    }
    
    &.isTypingActive,
    &.hasMouse:hover {
        .chatWindow {
            overflow-y: scroll;
            width: 25.2vw;
        }
    }

    &:hover {
        .chatWindow {
            width: 25.6vw;
        }
    }

    &.showChat {
        opacity: 1;
    }

    &.hideChat {
        opacity: 0;
    }

    .chatItem {
        display: inline-block;
        margin: 0;
        font-size: 1.5vh;
        line-height: 1.35;
        font-weight: 400;
        max-width: 24vw;
        width: 100%;
        padding: 0.5vh 0.5vw;
        position: relative;
        //border-left: 0.2vw solid var(--all);
        word-break: break-word;
        text-shadow: 0 0 .2vh rgba(255,255,255,1);

        &:last-of-type {
            margin: 0;
        }

        .chatMessageTarget {
            margin: 0 0.2vw 0 0;
            text-transform: uppercase;
            font-weight: 400;
            text-shadow: 0 0 .2vh rgba(255,255,255,1);
            color: var(--all);
        }

        .chatSender {
            margin: 0 0.2vw 0 0;
            font-weight: 400;
            text-shadow: 0 0 .2vh rgba(255,255,255,1);
        }

        .chatMessage {
            .highlight {
                background: rgba(255, 251, 0, 0.8);
            }
        }
        
        &.chatTypeEnemy {
            border-color: var(--enemy);

            &::before {
                content: '';
                position: absolute;
                background: var(--enemy-gradient);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
            }

            .chatSender,
            .chatMessageTarget {
                color: var(--enemy);
                text-shadow: 0 0 .2vh rgba(245, 119, 49,1);
            }
        }

        &.chatTypeAll {
            border-color: var(--all);
            
            &::before {
                content: '';
                position: absolute;
                background: var(--all-gradient);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;

                display: none;
            }

            .chatSender {
                color: transparent;
                text-shadow: 0 0 2px rgba(79, 197, 222,1);
                font-weight: 600;

                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                background-color: #fff;

            }
        }

        &.chatTypeTeam {
            border-color: var(--team);
            
            &::before {
                content: '';
                position: absolute;
                background: var(--team-gradient);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
            }

            .chatSender {
                color: var(--team);
            }
        }

        &.chatTypeSquad {
            border-color: var(--squad);

            &::before {
                content: '';
                position: absolute;
                background: var(--squad-gradient);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
            }

            .chatSender {
                color: var(--squad);
            }
        }

        &.chatTypeAdmin {
            border-color: var(--admin);

            &::before {
                content: '';
                position: absolute;
                background: var(--admin-gradient);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
            }

            .chatSender {
                color: var(--admin) !important;
            }
        }

        &.chatTypeLeaders {
            border-color: var(--leader);

            &::before {
                content: '';
                position: absolute;
                background: var(--leader-gradient);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
            }

            .chatSender {
                color: var(--leader);
            }
        }

        &.chatTypeSpectator {
            border-color: var(--team);

            &::before {
                content: '';
                position: absolute;
                background: var(--team-gradient);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
            }

            .chatSender {
                color: var(--team);
            }
        }

        &.chatTypePlayer {
            border-color: var(--spectator);

            &::before {
                content: '';
                position: absolute;
                background: var(--spectator-gradient);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
            }

            .chatSender {
                color: var(--spectator) !important;
            }
        }

        &.chatTeammate {
            .chatSender {
                color: var(--team);
            }
        }

        &.chatSquadmate {
            .chatSender {
                color: var(--squad);
            }
        }

        &.chatSpectator {
            .chatSender {
                color: var(--team);
            }
        }

        &.chatLocalPlayer {
            .chatSender {
                color: var(--all) !important;
            }
        }
    }
}

#VuChatStatePopup {
    color: #fff;
    position: absolute;
    left: 3vw;
    top: 35.5vh;
    width: 25.2vw;
    height: 3vh;
    font-size: 1vw;
    text-transform: uppercase;
}

/*@media only screen and (min-width: 719px) {
    #VuChat .chatWindow .chatWindowInner {
        grid-gap: 2px;
    }
}

@media only screen and (min-width: 1079px) {
    #VuChat .chatWindow .chatWindowInner {
        grid-gap: 4px;
    }
}

@media only screen and (min-width: 2159px) {
    #VuChat .chatWindow .chatWindowInner {
        grid-gap: 6px;
    }
}*/
