@font-face {
    font-family: 'Blinker';
    src: url('./assets/font/Blinker-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blinker';
    src: url('./assets/font/Blinker-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blinker';
    src: url('./assets/font/Blinker-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blinker';
    src: url('./assets/font/Blinker-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blinker';
    src: url('./assets/font/Blinker-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blinker';
    src: url('./assets/font/Blinker-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blinker';
    src: url('./assets/font/Blinker-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root {
    --all: #ffffff;
    --all-rgb: 255, 255, 255;
    --team-rgb: 206, 246, 251;
    --enemy-rgb: 255, 194, 169;
    --squad-rgb: 157, 251, 0;
    --admin-rgb: 255, 115, 250;
    --leader-rgb: 68, 221, 191;
    --spectator-rgb: 155, 132, 238;
    --player-rgb: 250, 166, 26;
    --team-gradient: linear-gradient(90deg, rgba(33,158,188,0.2) 0%, rgba(0,0,0,0) 100%);
    --all-gradient: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
    --enemy-gradient: linear-gradient(90deg, rgba(245,119,49,0.2) 0%, rgba(0,0,0,0) 100%);
    --squad-gradient: linear-gradient(90deg, rgba(157,251,0,0.2) 0%, rgba(0,0,0,0) 100%);
    --admin-gradient: linear-gradient(90deg, rgba(255,115,250,0.2) 0%, rgba(0,0,0,0) 100%);
    --leader-gradient: linear-gradient(90deg, rgba(68,221,191,0.2) 0%, rgba(0,0,0,0) 100%);
    --spectator-gradient: linear-gradient(90deg, rgba(155,132,238,0.2) 0%, rgba(0,0,0,0) 100%);
    --player-gradient: linear-gradient(90deg, rgba(250,166,26,0.2) 0%, rgba(0,0,0,0) 100%);

    --bf-grad-one: rgba(19, 82, 133, 0.29);
    --bf-grad-two: rgba(22, 127, 212, 0.27);
}

::-webkit-scrollbar {
    width: .2vw;
    transition: width .25s ease;
}

*:hover::-webkit-scrollbar {
    width: .6vw;
    transition: width .25s ease;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 1);
}

::-webkit-scrollbar-thumb:hover {
    background: #cecece; 
}

html,
body {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: "Blinker";
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

#debug {
    display: none !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
}

#VuChat {
    color: #fff;
    position: absolute;
    left: 3vw;
    top: 6vh;
    width: 25.2vw;
    height: 23.15vh;
    // background: rgba(0, 173, 255, 0.2);
    // border-radius: 2px;
    padding: .15vh 0;

    .chatWindow {
        overflow-x: hidden;
        overflow-y: hidden;
        width: 25vw;
        height: 22.85vh;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 25vw;
            height: 22.85vh;
            background: var( --bf-grad-one);
            background: linear-gradient(
                90deg,
                var( --bf-grad-one) 0%,
                var(--bf-grad-two) 25%,
                var( --bf-grad-one) 44%,
                var( --bf-grad-two) 50%,
                var( --bf-grad-one) 65%,
                var( --bf-grad-two) 75%,
                var( --bf-grad-two) 85%,
                var( --bf-grad-one) 90%,
                var( --bf-grad-two) 100%
            );
            filter: blur(7px);
            box-shadow: 0 0 2vh var( --bf-grad-two), inset 0 -5vh 5vh var(--bf-grad-two);
            /*background: transparent url("./assets/img/bg.png") 50% 50% no-repeat;
            background-size: cover;*/
            opacity: .9;
        }

        .chatWindowInner {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 0;
            
        }
    }
    
    &.isTypingActive,
    &.hasMouse:hover {
        .chatWindow {
            overflow-y: scroll;
            width: 25.2vw;
        }
    }

    &:hover {
        .chatWindow {
            width: 25.6vw;
        }
    }

    &.showChat {
        opacity: 1;
    }

    &.hideChat {
        opacity: 0;
    }

    .chatItem {
        display: inline-block;
        margin: 0;
        font-size: 1.5vh;
        line-height: 1.35;
        font-weight: 400;
        max-width: 24vw;
        width: 100%;
        padding: 0.25vh 0.5vw;
        position: relative;
        //border-left: 0.2vw solid var(--all);
        word-break: break-word;
        text-shadow: 0 0 .2vh rgba(255,255,255,1);

        &:last-of-type {
            margin: 0;
        }

        .chatMessageTarget {
            margin: 0 0.2vw 0 0;
            text-transform: uppercase;
            font-weight: 400;
            text-shadow: 0 0 .2vh rgba(255,255,255,1);
            color: var(--all);
        }

        .chatSender {
            margin: 0 0.2vw 0 0;
            font-weight: 400;
            text-shadow: 0 0 .2vh rgba(255,255,255,1);
        }

        .chatMessage {
            .highlight {
                background: rgba(255, 251, 0, 0.8);
            }
        }
        
        &.chatTypeEnemy {
            .chatSender,
            .chatMessageTarget {
                //color: rgba(var(--enemy-rgb), 1);
                //text-shadow: -1px -1px 4px rgba(var(--enemy-rgb), 1), 1px 1px 4px rgba(var(--enemy-rgb), 1);
                color: #fff !important;
                text-shadow: none;
                filter: drop-shadow(0 0 .1vh #ff7300) saturate(4) contrast(1.1);           
            }
        }

        &.chatTypeAll {
            .chatSender {
                color: rgba(var(--all-rgb), 1);
                text-shadow: -1px -1px 4px rgba(var(--all-rgb), 1), 1px 1px 4px rgba(var(--all-rgb), 1);
            }
        }

        &.chatTypeTeam {
            .chatSender {
                color: rgba(var(--team-rgb), 1);
                text-shadow: -1px -1px 4px rgba(var(--team-rgb), 1), 1px 1px 4px rgba(var(--team-rgb), 1);
            }
        }

        &.chatTypeSquad {
            .chatSender {
                color: rgba(var(--squad-rgb), 1);
                text-shadow: -1px -1px 4px rgba(var(--squad-rgb), 1), 1px 1px 4px rgba(var(--squad-rgb), 1);
            }
        }

        &.chatTypeAdmin {
            color: rgba(var(--admin-rgb), 1) !important;
            text-shadow: -1px -1px 4px rgba(var(--admin-rgb), 1), 1px 1px 4px rgba(var(--admin-rgb), 1);

            .chatMessageTarget,
            .chatSender {
                color: rgba(var(--admin-rgb), 1) !important;
                text-shadow: -1px -1px 4px rgba(var(--admin-rgb), 1), 1px 1px 4px rgba(var(--admin-rgb), 1);
            }
        }

        &.chatTypeLeaders {
            .chatSender {
                color: rgba(var(--leader-rgb), 1);
                text-shadow: -1px -1px 4px rgba(var(--leader-rgb), 1), 1px 1px 4px rgba(var(--leader-rgb), 1);
            }
        }

        &.chatTypeSpectator {
            .chatSender {
                color: rgba(var(--team-rgb), 1);
                text-shadow: -1px -1px 4px rgba(var(--spectator-rgb), 1), 1px 1px 4px rgba(var(--spectator-rgb), 1);
            }
        }

        &.chatTypePlayer {
            .chatSender {
                color: rgba(var(--spectator-rgb), 1) !important;
                text-shadow: -1px -1px 4px rgba(var(--spectator-rgb), 1), 1px 1px 4px rgba(var(--spectator-rgb), 1);
            }
        }

        &.chatTeammate {
            .chatSender {
                color: rgba(var(--team-rgb), 1);
                text-shadow: -1px -1px 4px rgba(var(--team-rgb), 1), 1px 1px 4px rgba(var(--team-rgb), 1);
            }
        }

        &.chatSquadmate {
            .chatSender {
                color: rgba(var(--squad-rgb), 1);
                text-shadow: -1px -1px 4px rgba(var(--squad-rgb), 1), 1px 1px 4px rgba(var(--squad-rgb), 1);
            }
        }

        &.chatSpectator {
            .chatSender {
                color: rgba(var(--team-rgb), 1);
                text-shadow: -1px -1px 4px rgba(var(--team-rgb), 1), 1px 1px 4px rgba(var(--team-rgb), 1);
            }
        }

        &.chatLocalPlayer {
            .chatSender {
                color: #fff !important;
                text-shadow: none;
                filter: drop-shadow(0 0 .1vh #0084ff) saturate(3) contrast(1.2);            
            }
        }
    }
}

#VuChatStatePopup {
    color: #fff;
    position: absolute;
    left: 3vw;
    top: 35.5vh;
    width: 25.2vw;
    height: 3vh;
    font-size: 1.5vh;
    text-transform: uppercase;
    text-shadow: -1px -1px 4px rgba(255, 255, 255, .5), 1px 1px 4px rgba(255, 255, 255, .5);
}

/*@media only screen and (min-width: 719px) {
    #VuChat .chatWindow .chatWindowInner {
        grid-gap: 2px;
    }
}

@media only screen and (min-width: 1079px) {
    #VuChat .chatWindow .chatWindowInner {
        grid-gap: 4px;
    }
}

@media only screen and (min-width: 2159px) {
    #VuChat .chatWindow .chatWindowInner {
        grid-gap: 6px;
    }
}*/
