#VuChatStatePopup {
    position: absolute;
    color: #fff;
    text-shadow: 0 0 10rem rgba(255, 255, 255, 1);
    left: 85rem;
    top: 380rem;
    width: 440rem;
    font-size: 16rem;
    text-transform: uppercase;
}
