@font-face {
    font-family: 'bffont';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/bffont.ttf') format('truetype');
}

* {
    user-select: none;
}

html {
    font-size: 10px;
}

:root {
    --shadow-color: rgba(235, 241, 246, 0.8);
}

body,
html {
    padding: 0;
    margin: 0;
    color: rgb(235, 241, 246);
    font-family: 'bffont';
    font-weight: 400;
    overflow: hidden;
    user-select: none;
    width: 100%;
    height: 100%;
}

body {
    font-size: 18rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

#debug {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
}

#VuChat {
    position: absolute;
    color: rgb(235, 241, 246);
    left: 60rem;
    top: 60rem;
    width: 440rem;
    height: 300rem;
    opacity: 0;
    background: url('./assets/img/bgcontainer.png');
    background-size: 100% 100%;

    .chatWindow {
        overflow-x: hidden;
        overflow-y: hidden;
        width: 400rem;
        height: 220rem;
        margin: 40rem 20rem;
    }

    &.isTypingActive {
        .chatWindow {
            overflow-y: scroll;
        }
    }

    &.showChat {
        opacity: 1;
    }

    .chatItem {
        position: relative;
        margin: 0;
        font-size: 16rem;
        line-height: 20rem;
        max-width: 440rem;
        width: 100%;
        padding: 0;
        margin-bottom: 3rem;
        color: rgb(235, 241, 246);

        * {
            text-shadow: 0 0 2rem var(--shadow-color), 0 0 5rem var(--shadow-color), 0 0 10rem var(--shadow-color);
        }

        .chatMessageTarget {
            margin: 0 4rem 0 0;
            text-transform: uppercase;
        }

        .chatSender {
            margin: 0 4rem 0 0;
        }

        /*
        .chatMessage {
            .highlight {
                background: rgba(255, 251, 0, 0.8);
            }
        }
        */

        &.chatTypeEnemy {
            .chatSender {
                --shadow-color: rgb(255, 94, 0);
                color: rgb(255, 206, 172);
            }
        }

        &.chatTypeAll {
            .chatSender {
                --shadow-color: rgb(30 173 255);
                color: rgb(144, 242, 255);
            }
        }

        &.chatTypeTeam {
            .chatSender {
                --shadow-color: rgb(30 173 255);
                color: rgb(144, 242, 255);
            }
        }

        &.chatTypeSquad {
            .chatSender {
                --shadow-color: rgb(170, 255, 59);
                color: rgba(183, 255, 158, 1);
            }
        }

        &.chatTypeAdmin {
            .chatSender {
                color: #ffd0f5;
                --shadow-color: rgb(255, 77, 246);
            }
        }

        &.chatTypeLeaders {
            .chatSender {
                color: rgb(255, 251, 218);
                --shadow-color: rgb(241, 255, 114);
            }
        }

        &.chatTypeSpectator {
            .chatSender {
                color: #f4e3ff;
                --shadow-color: #a96cd1;
            }
        }
    }
}
