#chatForm {
    z-index: 99999;
    position: absolute;
    width: 100%;
    height: 3.5vh;
    margin-top: .85vh;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: center;
    /*background: var(--bf-grad-one);
    box-shadow: 0 0 2vh var( --bf-grad-two), inset 0 -5vh 5vh var(--bf-grad-two);
    filter: blur(5px);*/
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 25vw;
        height: 3.5vh;
        background: var( --bf-grad-one);
        background: linear-gradient(
            90deg,
            var( --bf-grad-one) 0%,
            var(--bf-grad-two) 25%,
            var( --bf-grad-one) 44%,
            var( --bf-grad-two) 50%,
            var( --bf-grad-one) 65%,
            var( --bf-grad-two) 75%,
            var( --bf-grad-two) 85%,
            var( --bf-grad-one) 90%,
            var( --bf-grad-two) 100%
        );
        filter: blur(7px);
        box-shadow: 0 0 2vh var( --bf-grad-two), inset 0 -5vh 5vh var(--bf-grad-two);
        opacity: .9;
    }

    input {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border: none;
        color: #fff;
        background: transparent;
        font-weight: 400;
        font-family: 'Blinker';
        padding: 0 0.5vw;
        font-size: 1.5vh;
        text-shadow: 0 0 .2vh rgba(255,255,255,1);
        z-index: 1;

        &:focus,
        &:active {
            border: none;
            outline: 0;
        }
    }

    label {
        text-align: center;
        font-size: 1.25vh;
        text-transform: uppercase;
        font-weight: 600;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding: 0 0.7vw;
        text-shadow: 0 0 .2vh rgba(255,255,255,1);
        z-index: 1;
    }

    &.All {
        label {
            color: var(--all);
        }

        input {
            color: var(--all);
        }
    }

    &.Admin {
        label {
            background: var(--admin);
        }

        input {
            color: var(--admin);
        }
    }

    &.Team {
        label {
            background: var(--team);
        }
        
        input {
            color: var(--team);
        }
    }

    &.Squad {
        label {
            background: var(--squad);
        }
        
        input {
            color: var(--squad);
        }
    }

    &.Leaders {
        label {
            background: var(--leader);
        }
        
        input {
            color: var(--leader);
        }
    }

    &.Player {
        label {
            background: var(--spectator);
            color: #000;
        }
        
        input {
            color: var(--spectator);
        }
    }

    ul.typeahead-selector {
        position: absolute;
        margin: 0;
        top: 4.2vh;
        left: 0;
        width: 100%;
        padding: 0;

        li {
            list-style: none;
            height: 3vh;
            background: white;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 1vw;

            &.hover {
                background: var(--team);
                color: #fff;
            }
        }
    }
}
